<html>
  <head>
    <title></title>
  </head>
  <body>
    <script>
      var container = window.opener.EmberCareers.__container__;
      var authenticator = container.lookup('authenticators:github');

      authenticator.trigger('externalAuthComplete', <%= @data.html_safe %>);

      window.close();
    </script>
  </body>
</html>
