@import "normalize";
@import 'foundation/settings';
@import "foundation";

.job-list {
  margin-left: 0;
  list-style-type: none;
}

.markdown-editor {
  position: relative;
}

.markdown-editor__content {
  min-height: 100px;
}

.markdown-editor__preview-toggle {
  opacity: 0.4;
  position: absolute;
  top: rem-calc(8);
  right: 0;
}

.split {
  width: 100%;
  display: table;
}

.split__cell {
  display: table-cell;
}

.fa-2 { font-size: 2em; }

#footer {
  width: 100%;
  padding: 25px 0;
  border-top: 1px solid #dfd7d4;
  color: #bbbbbb;

  a { color: #464646; }
}

.footer-links {
  text-align: right;

  a { margin-left: 16px; }

  @media #{$small-only} { text-align: center; }
}

.created-by {
  display: block;
  padding-top: 8px;

  @media #{$small-only} {
    margin-bottom: 1em;
    text-align: center;
  }
}
